.DS_Store
node_modules
config-local.conf
*.swp
/demux/config.js
/common/config.js
/encryption_service/config.js
/contracts/priveos/config.conf
/contracts/priveos/priveos.abi
/contracts/priveos/priveos.wasm
/contracts/priveos/wallet-password.txt
/yarn-error.log
/contracts/priveos/src/priveos.wasm
/contracts/priveos/src/priveos.abi
/contracts/priveos/src/eosio.token.wasm
/contracts/priveos/src/eosio.token.abi
