.DS_Store
node_modules
/priveos/priveos.wasm
/priveos/priveos.abi
/broker/dist
/client/dist
/priveos_kms/dist
config-local.conf
/priveos/wallet-password.txt
*.swp
/demux/config.js
/common/config.js
/client/config-test.js
/encryption_service/config.js
/priveos/config.conf
/contracts/priveos/config.conf
/contracts/priveos/priveos.abi
/contracts/priveos/priveos.wasm
